<div class="row">
    <table class="table table-striped align-middle">
        <thead>
        <tr>
            <th scope="row">_id</th>
            <th>fullname</th>
            <th>signature</th>
            <th>position</th>
            <th>organization</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
            {{#each guests}}
                <tr>
                    <th scope="row">{{this._id}}</th>
                    <td>{{this.fullname}}</td>
                    <td>{{this.signature}}</td>
                    <td>{{this.position}}</td>
                    <td>{{this.organization}}</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a href="/admins/edit/{{this._id}}" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i></a>
                            <a href="/admins/delete/{{this._id}}" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                        </div>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>